pkgbase = grub-android-prober-git
	pkgdesc = GRUB Configuration for Android detection (Only works with some sort of filesystems)
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/shadichy/grub-android-x86.git
	arch = any
	license = GPLv3
	depends = grub
	depends = bash
	provides = grub-android-prober
	conflicts = grub-android-prober
	source = 30_android-prober
	source = grub-android-prober
	sha512sums = 2a0635a27bb0b88d93d891f957c53638fbbe027dcc9151ac16ba017aa09b277f8fca2315144aa0ef5b4b35f6a0c904e1a8f393521d82e8765df85d9a66a49bff
	sha512sums = 63c78b2c0177f38821c1cb8da07fb7a2eda35668a19bf51bbd9ec40d5bc511f4c12c1a2a28592e33d8c5e775f30c3b839fcf90139b5735fdc232ae0315820d22

pkgname = grub-android-prober-git
